@import config
.footer
  &-spacing
    height: 4em
  position: fixed
  bottom: 0
  background-color: $bg_dark
  width: 100%
  color: $bg_light
  &-social-links
    display: flex
    justify-content: flex-start
    margin-bottom: 10px
    &-item
      color: $text
      background: $green
      border-radius: 10px
      transition: 0.3s all linear
      margin-left: 15px
      &:nth-child(1)
        margin-left: 0px
      i
        font-size: 20px
      &:hover
        background: none
        background-color: $green_light