@import config

// CUSTOM USER STYLES & IMPORTS
input
  border: 1px solid black
  padding: 5px 10px
  border-radius: 5px
  min-width: 0px !important
  max-width: 40vw
  overflow-x: visible
  -webkit-appearance: unset

td
  padding: 5px 5px
  text-align: center

#table
  width: 100%

.table-heading
  font-weight: bold

.container
  margin: 0em 2em

.row
  display: flex
  flex-direction: row

.col
  display: flex
  flex-direction: column