@import config
@import modal
@import footer

// CUSTOM USER STYLES & IMPORTS
input
  border: 0px solid $primary
  border-bottom-width: 1px
  font-size: $fontsize
  text-align: center
  width: fit-content

button
  background-color: $green
  color: $bg_light
  border: 0px solid $green
  border-radius: $border/2
  cursor: pointer
  outline: none
  transition: 0.2s all linear
  &:hover
    background-color : $green_light

[disabled]
  cursor: no-drop
  color: $bg_light
  background-color: $gray
  &:hover
    background-color: $gray

i,label
  font-size: 16px
  padding: 5px 5px

td
  padding: 5px 5px
  text-align: center

#table
  width: 100%

#toolbar
  justify-content: flex-start
  input,button,label
    margin-left: 15px
  button:nth-child(1)
    margin-left: 0px

.row
  display: flex
  flex-direction: row

.container, .header-container, .footer-container
  margin: 0em 2em

.col
  display: flex
  flex-direction: column

.table
  &-heading
    color: $bg_light
    margin-top: 20px
    background-color: $bg_dark
    font-weight: bold
  &-row
    justify-content: center
  &-item
    display: flex
    padding: 10px 0px
    justify-content: center
    width: 33.333%

[type="file"]
  border: 0
  clip: rect(0, 0, 0, 0)
  height: 1px
  overflow: hidden
  padding: 0
  position: absolute !important
  white-space: nowrap
  width: 1px


[type="file"] + label
  background-color: $green
  border-radius: 5px
  color: $bg_light
  cursor: pointer
  display: inline-block
  transition: 0.2s all linear

[type="file"]:focus + label,
[type="file"] + label:hover
  background-color: $green_light
  color: $bg_light

[type="file"]:focus + label
  outline: none



